python-dotenv
gunicorn
Flask
langchain
langchain_community
# langchain_huggingface
flask-smorest 
marshmallow
validators
# youtube-transcript-api
pytube
unstructured
transformers
torch
langchain_openai 
openai
pytubefix
moviepy
uuid
redis
upstash_redis