python-dotenv
gunicorn
Flask
langchain==0.3.27
langchain_community
flask-smorest 
marshmallow
validators
pytube
unstructured
transformers
torch
langchain_openai
openai
pytubefix
moviepy
uuid
redis
upstash_redis
PyMuPDF
qdrant_client
langchain_qdrant
langchain_redis
